# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

#Debug Folder
Debug

#General Others
*.log
*.tlog

#Atmel Files
*.mk
*.d
*.eep
*.elf
*.hex
*.lss
*.map
*.srec

#Visual Studio Files
*.ilk
*.pdb
*.exe*
*.ipch